.search-box {
    width: 70vh;
    height: 3rem;
    padding: .5rem;
    border-radius: 8px;
    border: 2px solid rgb(24, 19, 100);
    background: #ddd;
    font-weight: 600;
    font-size: 16px;
    color: rgb(24, 19, 100);

    margin-top: 2rem;
}