* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin-top: 30vh;
  font-family: 'Times New Roman', Times, serif;
}

div {
  display: grid;
  place-items: center;
  gap: 3rem;

}

p {
  padding: .6rem .8rem;
  font-size: 50px;
  font-weight: 600;
  background: #7a78db8f;
  color: rgb(24, 19, 100);
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-box {
  width: 70vh;
  height: 3rem;
  padding: .5rem;
  border-radius: 5px;
  border: 2px solid rgb(24, 19, 100);
  background: #7a78db8f;
  font-weight: 600;
  font-size: 16px;
  color: rgb(24, 19, 100);
}